*{
    margin: 0;
    padding: 0;
    font-family: Helvetica;
}
/* barra de navegacao */
nav{
    background-color: #20a00f;
    border-bottom: 10px solid #ffffff;
    height: 55px;
}
a{
    text-decoration: none;
}
#logo{
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    position: absolute;
    top: 10px;
    left: 30px;
}
#menu{
    list-style: none;
    float: right;
    margin-top: 15px;
}
.titulo{
    color: #ffffff;
    font-size: 40px;
    font-weight: bold;
    font-family: cursive;
    text-decoration: none;
    position: absolute;
    top: 0;
    left: 550px;
}
.item{
    display: inline-block;
    margin-right: 30px;
    margin-left: 30px;
    font-size: 20px;
}
.item a{
    color: #ffffff;
    text-decoration: none;
}
.item a:hover{
    color: #cccccc;
    transition: .5s;
}
#gallery{
    width: 100%;
    margin: 0 auto;
    max-width: 960px;
    column-count: 3;
    background-color: #ffffff;
}
.photo-holder-first{
    margin-bottom: 10px;
    margin-left: 15px;
}
.photo-holder-second{
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
}
.photo-holder-third{
    margin-bottom: 10px;
    margin-right: 15px;
}
.photo{
    width: 100%;
}
